@font-face {
  font-family: "Venite";
  src: url("../../fonts/VeniteAdoremus-rgRBA.ttf") format("trueType");
}

.character-sheet {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 26, 81, 0.01);
  box-sizing: border-box;
}

.character-sheet h1 {
  margin: 0;
  font-size: 2em;
}

.character-sheet p {
  margin: 5px 0;
}

.character-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  align-content: center;
  background-color: rgba(94, 94, 96, 0.1);
  gap: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.character-name {
  font-size: 1.5em;
  font-family: "Venite", sans-serif;
  color: blueviolet;
  cursor: default;
}

.character-sheet-header-text {
  font-family: "Venite", sans-serif;
  cursor: pointer;
}

.character-sheet-header-text:hover {
  text-shadow: 0 6px 10px rgba(138, 43, 226, 0.8);
}

.character-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sheet-body {
  display: flex;
  flex-direction: space-between;
  gap: 5%;
  padding: 5%;
  flex-grow: 1;
}

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
