@font-face {
  font-family: "Venite";
  src: url("../../fonts/VeniteAdoremus-rgRBA.ttf") format("trueType");
}

.character-sheet {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 26, 81, 0.1);
  box-sizing: border-box;
}

.character-sheet h1 {
  margin: 0;
  font-size: 2em;
}

.character-sheet p {
  margin: 5px 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(94, 94, 96, 0.1);
  width: 100%;
  height: 7vh;
  max-height: 7vh;
  overflow: hidden;
  margin-right: 10rem;
}

.save-icon-container {
  display: flex;
  flex: 0.2;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 15px; /* Add some padding */
}

.character-header2 {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  /* background-color: rgba(94, 94, 96, 0.1); */
  gap: 10%;
  padding-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.character-name {
  font-size: 1.5em;
  font-family: "Venite", sans-serif;
  color: blueviolet;
  cursor: default;
  user-select: none;
}

.character-sheet-header-text {
  font-family: "Venite", sans-serif;
  user-select: none;
  cursor: pointer;
  user-select: none;
}

.character-sheet-header-text.selected {
  color: rgb(207, 97, 46);
}

.character-sheet-header-text:hover {
  text-shadow: 0 6px 10px rgba(138, 43, 226, 0.8);
}

.character-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sheet-body {
  display: flex;
  flex-direction: space-between;
  gap: 5%;
  padding: 5%;
  flex-grow: 1;
}

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
