.airlock-svg {
  transition: filter 0.3s ease;
}

.airlock-svg:hover {
  filter: drop-shadow(0 0 5px #00ff00);
}

.airlock-svg .c,
.airlock-svg .line1,
.airlock-svg .line2 {
  fill: none;
  stroke: #00ff00;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.airlock-svg .line1 {
  transform: translate(-6px, 14.5px);
  transition: transform 0.3s ease;
}

.airlock-svg .line2 {
  transform: translate(6px, -14.5px);
  transition: transform 0.3s ease;
}

.airlock-svg:hover .line1 {
  transform: translate(0, 0);
}

.airlock-svg:hover .line2 {
  transform: translate(0, 0);
}
